<div class="container">
  <div class="top-bar">
    <button class="back-btn" (click)="goToMain()">← На главную</button>
    <h2>Заказы</h2>
  </div>

  <div class="top-bar filter-controls">
    <input type="text" [(ngModel)]="searchLogin" (input)="applyFilters()" placeholder="Поиск по логину" />
    <input type="date" [(ngModel)]="searchDate" (change)="applyFilters()" />
    <button (click)="toggleSort()">
      Сортировать по дате: {{ sortDirection === 'asc' ? '↑' : '↓' }}
    </button>
    <button (click)="downloadExcel()">Выгрузить в Excel</button>
  </div>

  <div *ngFor="let order of filteredOrders" class="admin-order-card">
    <div class="order-header">
      <div><strong>Заказ №:</strong> {{ order.orderId }}</div>
      <div><strong>Пользователь:</strong> {{ order.login }}</div>
      <div><strong>Адрес:</strong> {{ order.address }}</div>
      <div><strong>Дата и время:</strong> {{ order.dateTime | date:'dd.MM.yyyy HH:mm' }}</div>
    </div>

    <table class="order-table">
      <thead>
      <tr>
        <th>Товар</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Сумма</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of order.items">
        <td>{{ item.productName }}</td>
        <td>{{ item.price }} BYN</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price * item.quantity }} BYN</td>
      </tr>
      </tbody>
    </table>

    <div class="order-footer">
      <div><strong>Всего товаров:</strong> {{ order.totalQuantity }}</div>
      <div><strong>Итоговая сумма:</strong> {{ order.totalAmount }} BYN</div>
      <button class="delete-btn" (click)="deleteOrder(order.orderId)">Удалить заказ</button>
    </div>
  </div>
</div>
